<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        
        <dict>
            <key>icon</key>
            <string>icon_btzh_1</string>
            <key>desc</key>
            <string>立即生效</string>
            <key>title</key>
            <string>充进手机账户</string>
            <key>state</key>
            <string></string>
        </dict>
        <dict>
            <key>icon</key>
            <string>icon_btzh_2</string>
            <key>desc</key>
            <string>立即预约</string>
            <key>title</key>
            <string>定时生效</string>
            <key>state</key>
            <string></string>
        </dict>
        <dict>
            <key>icon</key>
            <string>icon_btzh_3</string>
            <key>desc</key>
            <string>立即充值</string>
            <key>title</key>
            <string>充值备胎流量</string>
            <key>state</key>
            <string>玩游戏，送好友</string>
        </dict>
        <dict>
            <key>icon</key>
            <string>icon_btzh_4</string>
            <key>desc</key>
            <string>立即赠送</string>
            <key>title</key>
            <string>赠送给TA</string>
            <key>state</key>
            <string></string>
        </dict>
        <dict>
            <key>icon</key>
            <string>icon_btzh_5</string>
            <key>desc</key>
            <string>立即退订</string>
            <key>title</key>
            <string>流量用不完</string>
            <key>state</key>
            <string></string>
        </dict>
        <dict>
            <key>icon</key>
            <string>icon_btzh_6</string>
            <key>desc</key>
            <string>查看备胎详情</string>
            <key>title</key>
            <string>流量去哪儿了</string>
            <key>state</key>
            <string></string>
        </dict>
    </array>
</plist>
