<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        
            <dict>
                <key>icon</key>
                <string>icon_jfhq_1</string>
                <key>desc</key>
                <string>日常任务</string>
                <key>title</key>
                <string>登录</string>
                <key>score</key>
                <string>+2积分</string>
                <key>state</key>
                <string>已完成</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_jfhq_2</string>
                <key>desc</key>
                <string>重复任务</string>
                <key>title</key>
                <string>赠送</string>
                <key>score</key>
                <string>+2积分</string>
                <key>state</key>
                <string>去完成</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_jfhq_3</string>
                <key>desc</key>
                <string>重复任务</string>
                <key>title</key>
                <string>索要</string>
                <key>score</key>
                <string>+2积分</string>
                <key>state</key>
                <string>去完成</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_jfhq_4</string>
                <key>desc</key>
                <string>重复任务</string>
                <key>title</key>
                <string>邀请</string>
                <key>score</key>
                <string>+2积分</string>
                <key>state</key>
                <string>去完成</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_jfhq_5</string>
                <key>desc</key>
                <string>日常任务</string>
                <key>title</key>
                <string>充值</string>
                <key>score</key>
                <string>+N积分</string>
                <key>state</key>
                <string>去完成</string>
            </dict>
         
    </array>
</plist>
